---
title: Imprint
---

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top guide-nav-bar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Elixir Girls</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#events">Events</a>
                </li>
                <li>
                    <a class="page-scroll" href="/guides/">Guides</a>
                </li>
                <li>
                    <a class="page-scroll" href="#sponsors">Sponsors</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="imprint">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
              <h1>Imprint</h1>
              <h3>Provider in the sense of § 5 TMG:</h3>
              <p>
                AKRA GmbH<br />
                Domstraße 17<br />
                20095 Hamburg<br />
                Germany<br />
                Tel.: +49 40 309 535 30<br />
                Fax: +49 40 309 535 49<br />
                info(at)akra.de<br />
                <br />
                <b>Managing Directors</b><br />
                Fabian von Borcke<br />
                Thomas Ochmann<br />
                <br />
                Register: Amtsgericht Hamburg<br />
                Register no.: HRB 74309<br />
                VAT Id no.: DE205185954<br />
                <br />
                <b>Liability for content</b><br />
                The content of our pages was prepared with the greatest of care. However, we cannot accept any liability for the accuracy, completeness or currency of such content. As the service provider, we are responsible in accordance with § 7 Abs.1 TMG for our own content in these pages in accordance with general legislation. However, in accordance with §§ 8 to 10 TMG (German Telemedia Act) we are not obliged as service providers to monitor third party information transmitted or stored or to research circumstance which indicate an illegal activity. Obligations to block the usage of such information in accordance with general legislation remain unaffected by this. However, any consequential liability in this respect is only possible from the time of our gaining knowledge of a concrete violation of the law. Upon gaining knowledge of corresponding legal violations we will remove such content immediately.
              </p>
            </div>
        </div>
    </div>
</section>
<%= partial "/partials/footer_main" %>
